.register{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10%;
    background: linear-gradient(90deg, blue, lightskyblue);
    box-shadow: -6px 6px rgb(157, 172, 187);
    height: 70vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.register h1{
    text-align: center;
    font-size: 150%;
    color: white;
}

.register label{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 8%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-style: italic;
    color: whitesmoke;
}

.register input{
    border-radius: 10%;
}

.register button{
    background: white;
    border-radius: 10%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.register .link{
    color: white;
    font-size: 13px;
    text-align: center;
}