.login-register{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10%;
    background: linear-gradient(90deg, blue, lightskyblue);
    box-shadow: -6px 6px rgb(157, 172, 187);
    height: 70vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

@media(min-width: 769px){
    .login-register{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 2px solid black;
        border-radius: 10%;
        background: linear-gradient(90deg, blue, lightskyblue);
        box-shadow: -6px 6px rgb(157, 172, 187);
        height: 70vh;
        width: 40vw;
        margin-left: 30vw;
        margin-right: 30vw;
    }
}

.login-register h1{
    text-align: center;
    font-size: 32px;
    color: white;
}

.login-register label{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 8%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-style: italic;
    color: whitesmoke;
}

.login-register input{
    border-radius: 10%;
}

.link{
    color: white;
    font-size: 15px;
    text-align: center;
}

.login-register button{
    background: white;
    border-radius: 10%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

